---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}

      {% include figure.html
      path=profile_image_path
      class=profile_image_class
      alt=page.profile.image -%}
      {% endif -%}
      {%- if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    <!-- News -->
    {% if page.news and site.announcements.enabled -%}
    <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
    {%- include news.html limit=true %}
    {%- endif %}

    <!-- Latest posts -->
    {% if page.latest_posts -%}
    <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
    {%- include latest_posts.html %}
    {%- endif %}

    <!-- Selected papers -->
    {% if page.selected_papers -%}
    <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
    {%- include selected_papers.html %}
    {%- endif %}

    <br>

    <!-- Educations -->
    {% if page.educations -%}
    <h2>Educations</h2>
    <div
      style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
      <strong style="margin: 0px; padding: 0px;">KAIST (Korea Advanced Institute of Science and Technology) &nbsp; <span
          style="color: rgb(11, 83, 148);">Mar. 2022 ~ Present</span></strong>
    </div>
    <div
      style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit; font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
      - M.S. in Graduate School of Data Sciecne</div>
    <div
      style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit; font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
      - Advisor : Chanyoung Park</div>
    <br>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
  <strong style="margin: 0px; padding: 0px;">Korea University &nbsp; <span style="color: rgb(11, 83, 148);">Mar.
      2014 ~ Feb. 2022</span></strong>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit; font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  - B.S. in Architectural & Civil Engineering</div>

<br>
{%- endif %}

<!-- Work Experience -->
{% if page.work -%}
<h2>Work Experience</h2>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
  <strong style="margin: 0px; padding: 0px;">AI SOFTWARE OF KOREA &nbsp; <span style="color: rgb(11, 83, 148);">Jul.2019
      ~
      Feb. 2022</span></strong>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit;; font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  - CEO, Co-founder</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit; font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  I was CEO of 'AI SOFTWARE OF KOREA' (한국에이아이소프트), an AI-based legal counseling startup company in Seoul, Korea.
  Our team won grand prize at Seoul Innovation challenge 2020 <a
    href='https://mediahub.seoul.go.kr/archives/2001337'>[News].</a>
</div>
<br>
{%- endif %}

<!-- Teaching -->
{% if page.teaching -%}
<h2>Teaching Experience</h2>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
  <strong style="margin: 0px; padding: 0px;">DS503: Machine Learning for Data Science &nbsp; <span
      style="color: rgb(11, 83, 148);">2023S</span></strong>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  - Teaching Assistant</div>
<br>

<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
  <strong style="margin: 0px; padding: 0px;">KAIST AI Business Transformation Program &nbsp; <span
      style="color: rgb(11, 83, 148);">2022F</span></strong>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  - Researcher</div>
<br>

<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: rgb(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 16px; letter-spacing: -0.5px;'>
  <strong style="margin: 0px; padding: 0px;">IE343: Statistical Machine Learning &nbsp; <span
      style="color: rgb(11, 83, 148);">2022S</span></strong>
</div>
<div
  style='margin: 0px; padding: 0px; caret-color: rgb(73, 80, 87); color: inherit(73, 80, 87); font-family: "Noto Sans KR", sans-serif; font-size: 14px; letter-spacing: -0.5px;'>
  - Teaching Assistant</div>
<br>

{%- endif %}


<!-- Social -->
{%- if page.social %}
<div class="social">
  <div class="contact-icons">
    {% include social.html %}
  </div>

  <div class="contact-note">
    {{ site.contact_note }}
  </div>

</div>
{%- endif %}
</article>

</div>